PORT=3000
NODE_ENV=development

DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DATABASE?ssl-mode=REQUIRED"

DB_HOST=your-host.aivencloud.com
DB_PORT=20737
DB_USER=avnadmin
DB_PASSWORD=your_password
DB_NAME=defaultdb

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=10
